<div id="venipak-pickup-block-wrapper" data-bind="visible: isVisible()">
    <p data-bind="visible: !showTerminalSelection(), i18n: 'No parcel termninals found'"></p>
    <div data-bind="visible: showTerminalSelection()">
        <select class="parcel-terminal-list" name="pickup-points" data-bind="foreach: terminalsMachine()">
            <optgroup data-bind="attr: {label: name}, foreach: terminals">
                <option data-bind="value: pickup_point_id, text: name + ' ' + address"></option>
            </optgroup>
        </select>
    </div>
</div>
